{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
	<div
		class="p-5 mb-4 bg-light rounded-3">
		<div
			class="container-fluid py-5">
			<h1
				class="display-5 fw-bold">{{ 'content.title' | trans }}</h1>
			<p
				class="col-md-8 fs-4">{{ 'content.description' | trans({'%path%': '<code>plugin_root/samples</code>'}) }}</p>
			<p
				class="col-md-8 fs-4">{{ 'content.disclaimer' | trans({'%min%': 1, '%max%': 100}) }}</p>
		</div>
	</div>

	{% sw_include '@ProductMulti/storefront/page/fast-order/components/form.html.twig' %}
{% endblock %}
