{% sw_extends '@Storefront/storefront/layout/navigation/navigation.html.twig' %}

{% block layout_main_navigation_menu_items %}
	{{ parent() }}

	<a
		class="nav-link main-navigation-link fast-order-nav"
		href="{{ url('frontend.fast-order.index') }}" itemprop="url"
		title="{{ 'navigation.item.label' | trans }}">
		<div
			class="main-navigation-link-text">
			<span
				itemprop="name">&gt;&gt;
				{{ 'navigation.item.label' | trans }}
				&lt;&lt;</span>
		</div>
	</a>
{% endblock %}
