<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Form configuration</title>
        <title lang="de-DE">Form Konfiguration</title>

        <input-field type="int">
            <name>formFieldNumber</name>
            <label>Number of input fields for products</label>
            <label lang="de-DE">Anzahl der Eingabefelder für Produkte</label>
            <defaultValue>5</defaultValue>
        </input-field>
    </card>

</config>
